# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore local SDK config
local.properties

# Ignore heap dumps
*.hprof

# Ignore keystore
silica.jks
keystore.properties

# Ignore environment file
.env
.aider*
google-services.json
linkrepo
session_terakhir_opencode
error.txt

# Internal docs
docs/
