# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore local SDK config
local.properties

# Ignore heap dumps
*.hprof

# Ignore keystore
silica.jks
keystore.properties
